.help-page-link{
    cursor:help
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper{
    z-index:0;
    position:relative;
    background:#fff;
    border-radius:5px;
    padding:30px;
    margin:20px auto 0;
    box-shadow:0 1px 5px 2px rgb(0 0 0 / 4%)
}
.wp-food-manager-setup-steps{
    margin:15px -30px 40px -30px;
    overflow:hidden
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper .wpfm-step-window p{
    font-size:15px;
    line-height:20px
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper .wpfm-step-window h3{
    font-size:20px;
    line-height:28px
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper p{
    color:#555;
    font-size:14px
}
.wp-food-manager-setup-steps li{
    list-style-type:none;
    color:#99a2a8;
    font-size:14px;
    text-align:center;
    font-weight:500;
    width:calc(100% / 3);
    float:left;
    position:relative
}
.wp-food-manager-setup-steps li:before{
    width:50px;
    height:50px;
    margin:0 auto;
    line-height:50px;
    display:block;
    font-size:20px;
    color:#99a2a8;
    background:#fbe5e5;
    border-radius:50%;
    padding:2px;
    text-align:center;
    margin-bottom:15px
}
.wp-food-manager-setup-steps li:first-child:before{
    font-family:dashicons;
    content:"\f121"
}
.wp-food-manager-setup-steps li:nth-child(2):before{
    content:"\f107";
    font-family:dashicons
}
.wp-food-manager-setup-steps li:nth-child(3):before{
    font-family:dashicons;
    content:"\f529"
}
.wp-food-manager-setup-steps li:after{
    content:"";
    width:100%;
    height:10px;
    background:#fbe5e5;
    position:absolute;
    left:-50%;
    top:21px;
    z-index:-1
}
.wp-food-manager-setup-steps li.wp-food-manager-setup-active-step:after{
    background:#fe4600
}
.wp-food-manager-setup-steps li:last-child:after{
    width:150%
}
.wp-food-manager-setup-steps li.wp-food-manager-setup-active-step:before{
    background:#fe4600;
    color:#fff
}
.wp-food-manager-setup-steps li.wp-food-manager-setup-active-step{
    color:#fe4600
}
.wp-food-manager-shortcodes td,.wp-food-manager-shortcodes th{
    vertical-align:middle;
    font-size: 14px;
}
.wp-food-manager-shortcodes td p,.wp-food-manager-shortcodes th p{
    margin:9px 0
}
.wp-food-manager-shortcodes tr:nth-child(even) td,.wp-food-manager-shortcodes tr:nth-child(even) th{
    background:#f9f9f9
}
.wp-food-manager-support-the-plugin{
    padding:2em;
    margin:2em 0
}
.wpfm-setup-next-block-wrapper h3{
    margin-top:0;
    font-size:22px;
    line-height:1.42
}
.wp-food-manager-support-the-plugin ul{
    margin-bottom:0
}
.wpfm-setup-next-block-wrapper li{
    line-height:2em;
    font-size:1.1em
}
.wp-food-manager-support-the-plugin li a{
    text-decoration:none
}
.wpfm-setup-next-block-wrapper a{
    color:#fe4600
}
.wpfm-setup-next-block-wrapper a:hover{
    color:#dd2b0a
}
.wp-food-manager-support-the-plugin li a:before,.wpfm-setup-next-points li a:before{
    font-family:dashicons;
    font-size:2em;
    vertical-align:middle;
    padding-right:.25em;
    color:#fe4600
}
.wp-food-manager-support-the-plugin li.icon-review a:before{
    content:"\f155"
}
.wp-food-manager-support-the-plugin li.icon-localization a:before{
    content:"\f319"
}
.wp-food-manager-support-the-plugin li.icon-code a:before{
    content:"\f13a"
}
.wp-food-manager-support-the-plugin li.icon-forum a:before{
    content:"\f328"
}
.wpfm-setup-next-points li.wpfm-icon-plugin-setting a:before{
    content:"\f108"
}
.wpfm-setup-next-points li.wpfm-icon-food-backend a:before{
    content:"\f116"
}
.wpfm-setup-next-points li.wpfm-icon-food-frontend a:before{
    content:"\f489"
}
.wpfm-setup-next-points li.wpfm-icon-food-listing a:before{
    content:"\f11b"
}
.wpfm-setup-next-points li.wpfm-icon-food-dashboard a:before{
    content:"\f181"
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper .wpfm-step-window{
    text-align:left;
    padding:20px;
    border:1px solid #e1e1e4;
    border-radius:5px
}
.wpfm-setup-wrapper .wp-food-manager-shortcodes a,.wpfm-setup-wrapper .wpfm-setup-intro-block-btn a,.wpfm-setup-wrapper input[type=submit],.wpfm-setup-wrapper p.submit a{
    background:#fe4600;
    color:#fff;
    border:none;
    border-radius:3px;
    padding:5px 15px;
    text-transform:uppercase;
    font-weight:600;
    border:2px solid transparent;
    line-height:30px;
    display:inline-block;
    font-size:14px;
    transition:.3s all ease-in-out
}
.wpfm-setup-wrapper .wp-food-manager-shortcodes a,.wpfm-setup-wrapper .wpfm-setup-intro-block-btn a+a,.wpfm-setup-wrapper p.submit a+a{
    background:#fff;
    color:#fe4600;
    border:2px solid
}
.wpfm-setup-wrapper .wp-food-manager-shortcodes a:hover,.wpfm-setup-wrapper .wpfm-setup-intro-block-btn a+a:hover,.wpfm-setup-wrapper .wpfm-setup-intro-block-btn a:hover,.wpfm-setup-wrapper input[type=submit]:hover,.wpfm-setup-wrapper p.submit a:hover{
    background:#dd2b0a;
    color:#fff;
    border-color:#dd2b0a
}
.wp_food_manager.wp_food_manager_addons_wrap .wpfm-setup-wrapper .wpfm-step-window h3{
    color:#333
}
.wpfm-setup-done{
    text-align:center;
    padding:15px;
    background:#eaffe5;
    color:#22ab00;
    display:flex;
    border-radius:3px;
    justify-content:center;
    margin-bottom:15px
}
.wpfm-setup-done i{
    background:#22ab00;
    color:#fff;
    font-size:10px;
    border-radius:3px;
    line-height:14px;
    padding:5px;
    margin-right:8px
}
.wpfm-setup-done h3{
    color:#22ab00;
    margin:3px 0;
    font-size:18px
}
.wpfm-setup-next-block-wrapper{
    display:flex
}
.wpfm-setup-next-block-wrapper .wp-food-manager-support-the-plugin,.wpfm-setup-next-block-wrapper .wpfm-setup-next-points{
    width:100%;
    padding:20px;
    margin:30px 15px;
    border-radius:3px;
    box-shadow:0 0 2px 1px #ccc
}
.wpfm-setup-next-block-wrapper .wpfm-setup-next-points{
    margin-left:0
}
.wpfm-setup-next-block-wrapper .wp-food-manager-support-the-plugin{
    margin-right:0
}
.wpfm-setup-next-block-wrap{
    margin:30px 0
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome{
    text-align:center;
    border:1px solid #ddd;
    border-radius:3px;
    padding:50px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block{
    max-width:1048px;
    margin:0 auto
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome img{
    max-width:350px;
    width:100%;
    height:auto
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome p{
    margin:30px 0 45px 0;
    font-size:16px;
    line-height:1.42;
    color:#555
}
.wpfm-setup-wrapper .wpfm-setup-intro-block-btn a:last-child{
    margin-left:20px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome .wpfm-backend-video-wrap{
    margin:40px 0 60px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome .wpfm-backend-video-wrap iframe{
    -webkit-box-shadow:10px 10px 20px rgb(0 0 0 / 15%);
    box-shadow:10px 10px 20px rgb(0 0 0 / 15%)
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center{
    margin:40px 0;
    text-align:center
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center h1{
    font-weight:700;
    font-size:28px;
    line-height:1.42;
    margin-bottom:24px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block{
    background:#fff;
    border:1px solid #e1e1e4;
    box-sizing:border-box;
    border-radius:7px;
    display:block;
    margin:0 auto 36px;
    margin-right:32px;
    padding:27px;
    text-align:center
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block{
    width:310px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block:first-child{
    margin-left:0
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block:last-child{
    margin-right:0
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block .wpfm-setup-help-center-block-icon{
    width:100%;
    margin:0 0 20px
}
.wpfm-setup-help-center-faqs-icon,.wpfm-setup-help-center-knowledge-base-icon,.wpfm-setup-help-center-support-icon,.wpfm-setup-help-center-video-tutorial-icon{
    display:inline-block;
    background:url(../images/support-page-sprites-img.png) no-repeat;
    background-size:200px;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.wpfm-setup-help-center-knowledge-base-icon{
    background-position:-100px 0;
    width:82px;
    height:82px
}
.wpfm-setup-help-center-faqs-icon{
    background-position:-9px 0;
    width:82px;
    height:82px
}
.wpfm-setup-help-center-video-tutorial-icon{
    background-position:-105px -90px;
    width:82px;
    height:82px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center-block-content .wpfm-setup-help-center-block-heading{
    font-weight:600;
    line-height:30px;
    margin:0 0 15px;
    color:#111;
    font-size:22px
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center-block-content .wpfm-setup-help-center-block-desc{
    font-size:16px;
    line-height:1.42;
    color:#555
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center-block-content a.wpfm-setup-help-center-block-link{
    display:inline-block;
    font-size:16px;
    font-style:normal;
    font-weight:500;
    line-height:18px;
    margin-top:25px;
    position:relative;
    text-decoration:none;
    color:#fe4600;
    transition:.2s color ease
}
.wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center-block-content a.wpfm-setup-help-center-block-link:hover{
    color:#111
}
.wpfm-setup-wrapper .wpfm-setup-addon-support{
    background:#fff;
    border-radius:7px;
    border:1px solid #e1e1e4;
    text-align:center
}
.wpfm-setup-wrapper .wpfm-setup-addon-support .wpfm-setup-addon-support-wrap{
    padding:35px 45px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-start
}
.wpfm-setup-wrapper .wpfm-setup-addon-support .wpfm-setup-addon-support-wrap .wpfm-setup-help-center-block-icon{
    width:90px;
    margin:0;
    padding:0
}
.wpfm-setup-wrapper .wpfm-setup-help-center-support-icon{
    background-position:-9px -90px;
    width:82px;
    height:82px
}
.wpfm-setup-wrapper .wpfm-setup-addon-support .wpfm-setup-addon-support-wrap .wpfm-setup-help-center-block-content{
    display:flex;
    flex-direction:column;
    height:100%;
    width:auto;
    text-align:left;
    padding-left:25px
}
@media only screen and (max-width:1237px){
    .wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block{
        width:calc(50% - 16px);
        margin-right:0
    }
    .wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block:last-child{
        margin-right:auto
    }
}
@media only screen and (max-width:782px){
    .wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-help-center .wpfm-setup-help-center-block-wrap .wpfm-setup-help-center-block{
        width:100%
    }
    .wpfm-setup-next-block-wrap .wpfm-setup-intro-block .wpfm-setup-intro-block-welcome .wpfm-backend-video-wrap iframe{
        width:100%!important;
        height:auto!important;
        min-height:335px
    }
    .wpfm-setup-wrapper .wpfm-setup-intro-block-btn a{
        margin:5px
    }
}
@media (max-width:768px){
    .wpfm-setup-next-block-wrapper{
        flex-wrap:wrap
    }
    .wpfm-setup-next-block-wrapper .wp-food-manager-support-the-plugin,.wpfm-setup-next-block-wrapper .wpfm-setup-next-points{
        margin:15px 0
    }
}
